input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
}

input[type="checkbox"]{
    margin: 0;
}
.pr{
    position: relative;
}
.form-label{
    position: absolute;
    left: 3px;
    bottom: 17px;
    opacity: 0;
    visibility: hidden;
}
.id {
    margin-top: 0 !important;
}

input{
    width: 100%;
    height: 100%;
    padding: 5px 2px;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #777;
    transition: all 0.5s;
    color: #777;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: -0.25px;
}

.login_btn {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
    border: none;
    color: #d9d9d9;
    font-family: 'Noto Sans', sans-serif;
    margin: 20px 0;
    transition: 0.5s;
}
.login_btn:hover{
    box-shadow: 0px 0px 16px rgb(0 0 0 / 20%);
    transform: scale3d(1.01, 1.01, 1.01);
}
.check_form {
    margin: 0;
}

.login_wrappy {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 'input img';
    grid-template-columns: 1fr 3fr;
    position: relative;
}

.input_wrap,
.login_img {
    overflow: hidden;
}

.input_wrap {
    background: linear-gradient(to bottom, #2a2a2a, #121212);
    grid-area: input;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_img {
    background-color: yellow;
    grid-area: img;
    position: relative;
}

.login_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.logo_wrappy {
    display: flex;
    justify-content: center;
}

.login_logo {
    width: 100px;
    height: 100px;
    background: url(../imges/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.input_tit {
    font-size: 28px;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif;
    line-height: 34px;
    padding: 30px 0;
}

.login_inner {
    position: relative;
    padding: 0 50px;
}

.login_page {
    width: 100%;
    color: #fff;
}

.input_box {
    margin: 30px 0 0px;
    font-family: 'Noto Sans', sans-serif;
}

.reset {
    width: 100%;
    height: 40px;
    max-width: 400px;
    margin: 20px 0 10px 0;
    overflow: hidden;
    position: relative;
}
label::before{
    position: absolute;
    width: 0%;
    height: 1px;
    background: #d9d9d9;
    content: '';
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    z-index: 1;
    transition: all .6s ease;
}
input:focus{
    color: #d9d9d9;
}
input:focus+label::before{
    width: 100%;
    transform: translateX(0%);
    transition: all .6s ease;
}
input:valid+label::before{
    width: 100%;
    transform: translateX(0%);
}
.form_pw{
    margin: 30px 0 10px 0;
}

.ck_block > input[type="checkbox"]{
    width: 14px;
    height: 14px;
    accent-color: #000;
}
.ck_block{
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    align-items: end;
}
.ck_block > span{
    margin-left: 5px;
}
.login_text>p {
    font-size: 14px;
    line-height: 20px;
    display: block;
    color: #d5d5d5;
    font-weight: 300;
    display: block;
    position: relative;
}

.login_un_line {
    margin-bottom: 3px;
    line-height: 5px;
    text-decoration: underline;
}
.login_copy{
    font-family: 'Noto Sans', sans-serif;
    padding: 20px 0;
}

.login_list > ul{
    display: flex;
}
.login_list > ul > li > a{
    color: #d9d9d9;
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
}
.login_list > ul > li > a:hover{
    text-decoration: underline;
}
.login_list > ul > li > a:first-child{
    padding-left: 0;
}
.login_copy_rigth{
    padding: 20px 0;
    font-size: 14px;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .login_wrappy {
        grid-template-columns: 2fr 3fr;
    }
    .login_inner{
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .login_wrappy {
        grid-template-areas: 'input';
        grid-template-columns: 1fr;
    }
    .login_img{
        display: none;
    }
    .input_tit{
        font-size: 20px;
        line-height: 30px;
        padding: 0;
    }
}