body{
    overflow: hidden;
    touch-action: none;
    font-family: 'Noto Sans', sans-serif;
    word-break:keep-all;
}
a, a:hover{
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}
button{
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer
}
img{
    width: 100%;
    object-fit: cover;
}
.mr{
    margin-right: 20px;
}
.inner{
    max-width: 750px;
    margin: 0 auto;
    padding: 0 48px;
}
#wrap{
    width: 100%;
}

.headerInner{
    max-width: 750px;
    height: 60px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo > a{
    width: 146px;
    display: block;
}
.logo > a > img{
    height: 10px;
}
.login_wrap{
    display: flex;
}
.login_btn{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.move_btn{
    width: 20px;
    height: 20px;
}
.move_btn span{
    height: 3px;
    background-color: #fff;
    display: block;
}
.mt{
    margin: 5px 0;
}
.Depth2 > li {
    padding: 10px 0;
}
.Depth2 > li > a{
    font-size: 18px;
    font-weight: 400;
    color: #C3C3C3;
}
.icon{
    transition: 0.5s;
}
.icon.on{
    transform: rotate(180deg);
}
.toggle_menu{
    height: 100vh;
    transform: translateX(0%);
    background-color: #222;
    padding-top: 24px;
    overflow-y:auto
}
.toggle_menu a{
    color: #fff;
}
.Depth2{
    padding-top: 24px;
    display: none;
}
.car_menu > ul > li,
.service_menu > ul >  li{
    padding: 20px 0;
}
.service_menu{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.Depth1 > a{
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    font-size: 24px;
}
.icon{
    display: block;
}
.service_menu li{

}
main{

}

footer{

}