.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

a,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

body {
    font-family: 'Noto Sans KR', 'sans-serif';
    letter-spacing: -0.25px;
    height: 10000px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer
}

.blur {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(3px);
    transition: 0.5s;
}

.blur.on {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

/* header 시작 */
header {
    width: 100%;
    background-color: #222;
    font-size: 12px;
    position: fixed;
    z-index: 2;
}

.inner {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

header a {
    color: #D9D9D9;
}

.header_inner {
    max-width: 1320px;
    padding: 0 20px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    z-index: 10;
    width: 100px;
}

.info {
    z-index: 10;
}

.login {
    display: flex;
}

.login ul li:nth-child(2) {
    padding: 0 7px;
}

.login a {
    font-family: 'Noto Sans KR', 'sans-serif';
    font-weight: lighter;
}

.login>ul {
    display: flex;
    align-items: center;
}

nav {
    position: absolute;
    width: 100%;
    top: 0;
}

nav .gnb {
    display: flex;
    justify-content: center;
}

nav .gnb>li {
    padding: 0 10px;
    line-height: 60px;
    text-align: center;
    font-family: "Roboto", 'sans-serif';
    display: inline-block;
}

nav .gnb>li::after {
    content: '';
    display: block;
    position: relative;
    bottom: 15px;
    width: 0%;
    height: 2px;
    background-color: #FFCE00;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}

nav .gnb>li:hover:after {
    width: 100%;
}

.Depth2 {
    width: 100%;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: rgb(44, 44, 44);
    box-shadow: 10px -2px 10px 0 rgb(0, 0, 0, 0.2);
}

.Depth2.on {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.Depth_inner {
    display: flex;
    width: 100%;
    max-width: 1320px;
    height: auto;
    padding: 50px;
    margin: 0 auto;
}

.Depth_inner ul>li {
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.Depth_inner ul>li>a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.25%;
}

.Depth_inner ul .tit {
    font-size: 12px;
    color: #ADADAD;
}

.Depth_inner ul {
    margin: 0 20px;
}

.listbtn {
    padding: 0 10px;
}

.listbtn.on {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.listbtn .line {
    display: block;
    width: 14px;
    height: 2px;
    background: #D9D9D9;
}

.listbtn .middel {
    margin: 3px 0;
}

.full_meun {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #2a2a2a, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    top: 0;
    visibility: hidden;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s;
    opacity: 0;
}

.full_meun.on {
    transform: translateX(0);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
    z-index: 10;
}

.full_inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.full_list {
    width: 100%;
    display: flex;
    position: absolute;
    left: 68%;
    top: 50%;
    transform: translate(-60%, -50%);

}

.list {
    width: calc(100% / 3);
}

.list .list-tit {
    font-size: 20px;
    padding: 20px 0;
    position: relative;
    display: inline-block;
    color: #cbcbcb;
    font-family: none;
    font-weight: 300;
}

.list .list-tit:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFCE00;
    position: absolute;
    bottom: 0;
}

.list>ul {
    margin-top: 10px;
}

.list>ul>li {
    padding: 10px 0;
    position: relative;
    font-family: none;
    letter-spacing: -0.25px;
}

.list>ul>li>a:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFCE00;
    transition: 0.7s ease-in-out;
}

.list>ul>li>a:hover::after {
    width: 100%;
    transition: 0.7s ease-in-out;
}

.list>ul>li>a {
    font-size: 16px;
    color: #D9D9D9;
    display: inline-block;
    position: relative;
}

.full_inner .top {
    position: absolute;
    right: 12%;
    top: 18%;
}

.close {
    color: #D9D9D9;
    font-size: 24px;
}

.copyrigth {
    display: block;
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    color: #D9D9D9;
    font-weight: 700;
    font-family: none;
}

/* main 시작 */
/* main video 시작*/
.main_video {
    width: 100%;
    height: 100%;
    max-height: 800px;
    overflow: hidden;
    position: relative;
}

.fllter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0.6;
}

.text_box {
    width: 100%;
    max-width: 1320px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_wrap {
    position: relative;
    width: 100%;
    max-width: 1320px;
    height: 300px;
}

.text_positon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vis_tit,
.toptext {
    font-size: 48px;
    font-family: "Roboto", 'sans-serif';
    color: #F0F0F0;
    font-weight: 700;
}

.btn {
    font-family: 'Noto Sans KR', 'sans-serif';
}

.toptext {
    color: #262626;
    letter-spacing: -2.25px;
}

.price {
    font-size: 22px;
    font-family: 'Noto Sans KR', 'sans-serif';
    color: #959595;
    font-weight: 100;
    letter-spacing: -0.25px;
    padding: 12px 0 18px 0;
    display: block;
}

.swiper-text>.price {
    color: #262626;
}

.swiper-text>.btn>ul>li>a {
    color: #262626;
}

.btn ul li {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.btn ul li::after {
    width: 0%;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFCE00;
    transition: 0.5s ease-in;
}

.btn ul li:hover:after {
    width: 100%;
}

.btn ul li a {
    color: #F0F0F0;
    display: inline-flex;
    padding: 0 5px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.btn ul li .arrow {
    font-size: 23px;
    line-height: 18px;
}

/* boxster 시작 */
.Boxster {
    padding: 54px 0 0 0;
    overflow: hidden;
    position: relative;
    background: rgb(240, 240, 240);
}

.swiper-slide {
    padding-top: 120px;
}

.swiper-text {
    text-align: center;
}

.swiper-img {
    text-align: center;
    position: relative;
    padding-left: 20px;
}

.sp-text {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;

}

.sp-text ul {
    padding: 0 20px;
    text-align: center;
}

.sp-text ul li {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #262626;
}

.sp-text .spac_tit {
    font-size: 32px;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 5px;
    color: #262626;
}

.bottom {
    margin: 0 auto;
    display: block;
    padding: 20px 0 80px 0;
}

.bottom>p {
    font-size: 14px;
    letter-spacing: -0.25px;
    font-family: 'Noto Sans', sans-serif;
    padding: 3px 0;
}

/* //model 시작 */
.model_list {
    padding: 20px;
}

.item_warppy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 20px;
}

.item_warppy>.item {
    padding-bottom: 20px;
}

.item {
    position: relative;
    box-sizing: border-box;
}

.item>.text_positon {
    top: 30%;
    z-index: 1;
}

.item_tit {
    color: #D9D9D9;
    display: block;
    margin-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.list_postion {
    position: absolute;
    left: 10%;
    top: 15%;
}

.list02 .list_postion>.item_tit,
.list02 .list_postion>.vis_tit,
.list02 .list_postion>.price,
.list02 .list_postion>.btn > ul > li > a {
    color: #262626;
}
.item .list_postion>.btn > ul > li::after{
    display: none;
}
.macan {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.macan>.fllter {
    opacity: 0.3;
}

.item>.list01 {
    background: url(../imges/그룹\ 75.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* footer 시작 */