.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

a,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
    width: 100%;
    height:100%;
    object-fit:cover;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

body {
    font-family: 'Noto Sans KR', 'sans-serif';
    letter-spacing: -0.25px;
}

section {
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_wrap{
    position: relative;
    width: 100%;
    height: 100vh;
}
.video_wrap > video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer
}

.blur {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(3px);
    transition: 0.5s;
}

.blur.on {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

/* header 시작 */
header {
    width: 100%;
    background-color: #222;
    font-size: 12px;
    position: fixed;
    z-index: 3;
}

.inner {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

header a {
    color: #D9D9D9;
}

.header_inner {
    max-width: 1320px;
    padding: 0 20px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    z-index: 10;
    width: 100px;
}

.info {
    z-index: 10;
}

.login {
    display: flex;
}

.login ul li:nth-child(2) {
    padding: 0 7px;
}

.login a {
    font-family: 'Noto Sans KR', 'sans-serif';
    font-weight: lighter;
}

.login>ul {
    display: flex;
    align-items: center;
}

nav {
    position: absolute;
    width: 100%;
    top: 0;
}

nav .gnb {
    display: flex;
    justify-content: center;
}

nav .gnb>li {
    padding: 0 10px;
    line-height: 60px;
    text-align: center;
    font-family: "Roboto", 'sans-serif';
    display: inline-block;
}

nav .gnb>li::after {
    content: '';
    display: block;
    position: relative;
    bottom: 15px;
    width: 0%;
    height: 2px;
    background-color: #FFCE00;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}

nav .gnb>li:hover:after {
    width: 100%;
}

.Depth2 {
    width: 100%;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: rgb(44, 44, 44);
    box-shadow: 10px -2px 10px 0 rgb(0, 0, 0, 0.2);
}

.Depth2.on {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.Depth_inner {
    display: flex;
    width: 100%;
    max-width: 1320px;
    height: auto;
    padding: 50px;
    margin: 0 auto;
}

.Depth_inner ul>li {
    height: 30px;
    line-height: 30px;
    text-align: left;
}

.Depth_inner ul>li>a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.25%;
}

.Depth_inner ul .tit {
    font-size: 12px;
    color: #ADADAD;
}

.Depth_inner ul {
    margin: 0 20px;
}

.listbtn {
    padding: 0 10px;
}

.listbtn.on {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.listbtn .line {
    display: block;
    width: 14px;
    height: 2px;
    background: #D9D9D9;
}

.listbtn .middel {
    margin: 3px 0;
}

.full_meun {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #2a2a2a, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    top: 0;
    visibility: hidden;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.full_meun.on {
    transform: translateX(0);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
    z-index: 10;
}

.full_inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.full_list {
    width: 100%;
    display: flex;
    position: absolute;
    left: 68%;
    top: 50%;
    transform: translate(-60%, -50%);

}

.full_item_list {
    width: calc(100% / 3);
}

.full_item_list .list-tit {
    font-size: 20px;
    padding: 20px 0;
    position: relative;
    display: inline-block;
    color: #cbcbcb;
    font-family: none;
    font-weight: 300;
}

.full_item_list .list-tit:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFCE00;
    position: absolute;
    bottom: 0;
}

.full_item_list>ul {
    margin-top: 10px;
}

.full_item_list>ul>li {
    padding: 10px 0;
    position: relative;
    font-family: none;
    letter-spacing: -0.25px;
}

.full_item_list>ul>li>a:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFCE00;
    transition: 0.7s ease-in-out;
}

.full_item_list>ul>li>a:hover::after {
    width: 100%;
    transition: 0.7s ease-in-out;
}

.full_item_list>ul>li>a {
    font-size: 16px;
    color: #D9D9D9;
    display: inline-block;
    position: relative;
}

.full_inner .top {
    position: absolute;
    right: 12%;
    top: 18%;
}

.close {
    color: #D9D9D9;
    font-size: 24px;
}

.copyrigth {
    display: block;
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    color: #D9D9D9;
    font-weight: 700;
    font-family: none;
}

/* main 시작 */
/* main video 시작*/
.main_video {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.fllter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}

.text_box {
    width: 100%;
    max-width: 1320px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.text_wrap {
    position: relative;
    width: 100%;
    max-width: 1320px;
    height: 300px;
}

.text_positon {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vis_tit,
.toptext {
    font-size: 48px;
    font-family: "Roboto", 'sans-serif';
    color: #F0F0F0;
    font-weight: 700;
}

.btn {
    font-family: 'Noto Sans KR', 'sans-serif';
}

.toptext {
    color: #262626;
    letter-spacing: -2.25px;
}

.price {
    font-size: 22px;
    font-family: 'Noto Sans KR', 'sans-serif';
    color: #959595;
    font-weight: 100;
    letter-spacing: -0.25px;
    padding: 12px 0 18px 0;
    display: block;
}

.swiper-text>.price {
    color: #262626;
}

.swiper-text>.btn>ul>li>a {
    color: #262626;
}

.btn ul li {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.btn ul li::after {
    width: 0%;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFCE00;
    transition: 0.5s ease-in;
}

.btn ul li:hover:after {
    width: 100%;
}

.btn ul li a {
    color: #F0F0F0;
    display: inline-flex;
    padding: 0 5px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.btn ul li .arrow {
    font-size: 23px;
    line-height: 18px;
}

/* boxster 시작 */
.Boxster {
    overflow: hidden;
    position: relative;
    background: rgb(240, 240, 240);
    padding-top: 120px;
}

.Boxster>.swiper-slide {
    padding-top: 120px;
}

.swiper-text {
    text-align: center;
}

.swiper-img {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.sp-text {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;

}

.sp-text ul {
    padding: 0 20px;
    text-align: center;
}

.sp-text ul li {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: #262626;
}

.sp-text .spac_tit {
    font-size: 32px;
    font-weight: 800;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 5px;
    color: #262626;
}

.bottom {
    margin: 0 auto;
    display: block;
    padding: 20px 0 80px 0;
}

.bottom>p {
    font-size: 14px;
    letter-spacing: -0.25px;
    font-family: 'Noto Sans', sans-serif;
    padding: 3px 0;
}

/* //model 시작 */
.model_list {
    padding: 20px 20px 0 20px;
}

.item_warppy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 20px;
}

.item:hover>img {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.5s;
}

.item {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
}

.item:hover {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
}

.item>.text_positon {
    top: 30%;
    z-index: 1;
}

.item_tit {
    color: #D9D9D9;
    display: block;
    margin-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.list_postion {
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 1;
}

.list02 .list_postion>.item_tit,
.list02 .list_postion>.vis_tit,
.list02 .list_postion>.price,
.list02 .list_postion>.btn>ul>li>a {
    color: #262626;
}

.item .list_postion>.btn>ul>li::after {
    display: none;
}

.macan {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.macan>.fllter {
    opacity: 0.3;
}

.Services {
    padding: 20px;
}

.text_wrappy {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
}

.services_tit {
    position: absolute;
    left: 10%;
    bottom: 10%;
    transform: translateY(100%);
    opacity: 0;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    transition: 1s;
}

.services_tit h2 {
    font-size: 32px;
    letter-spacing: -0.25px;
    font-weight: bold;
}

.services_tit p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 26px;
}

/* footer 시작 */
.footer {
    width: 100%;
}

.Top_footer_wrap {
    width: 100%;
    background-color: #353535;

}

.info_list {
    display: flex;
    justify-content: center;
    background-color: #353535;
    padding: 76px 0;
}

.info_list ul {
    width: calc(100%/4);
}

.info_list ul .info_tit {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
    display: block;
}

.info_list ul li a {
    color: #C3C3C3;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    padding: 5px 0;
    display: inline-block;
}

.info_list ul li a:hover {
    text-decoration: underline;
}

.bot_footer_wrap {
    background: #2C2C2C;
    padding-top: 100px;
    padding-bottom: 30px;
}

.Global {
    display: flex;
    padding: 24px 0 35px 0;
}

.Global_tit {
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
}

/* form {
    padding: 0 20px 0 0;
} */

/* select{
    width: 100%;
    max-width: 400px;
    height: 60px;
    outline: none;
    background-color: #353535;
    border: none;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding: 0 20px;
    appearance:none;
    background-image: url(../imges/drow_arrow.png);
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 14px;
} */
.add {
    padding: 50px 0 30px 0;
    border-top: 1px solid #646464;
}

.add>span {
    font-size: 26px;
    color: #d9d9d9;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 30px;
    display: block;
    font-weight: 600;
}

.pl {
    padding-left: 16px;
}

.caution>p {
    color: #d9d9d9;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 24px;
}

.copy_ligth {
    display: flex;
    padding: 20px 0;

}

.copy {
    color: #d9d9d9;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    margin-right: 20px;
    padding-top: 5px;
}

.copy_ligth ul {
    display: flex;
    margin-left: 20px;
}

.copy_ligth ul li {
    padding: 0 5px;
}

.copy_ligth ul li a {
    color: #d9d9d9;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
}

.copy_ligth ul li a:hover {
    text-decoration: underline;
}


/* //[subpage] view 시작 */
.view_main {
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}
.view_main > section{
    padding: 20px 0;
}

.view_header {
    background-color: #fff;
}

.view_header a {
    color: #353535;
}

.view_header .Depth2 {
    background-color: #fff;
}

.view_header .listbtn .line {
    background-color: #353535;
}

.top_slide_wrappy {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #353535;
    color: #d9d9d9;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    z-index: -10;
    position: absolute;
}

.view_header .top_slide .swiper-slide>a {
    color: #fff;
}

.view_header .top_slide .un_line {
    color: #fff;
    text-decoration: underline;
}

.view_top {
    background: url(../imges/sub_top_img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 700px;
}

.view_text_box {
    position: absolute;
    left: 0;
    bottom: 10%;
}

.view_text_box h1 {
    color: #fff;
    font-weight: 800;
    font-size: 48px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
}

.view_top p {
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 22px;
}

.text-wrappy {
    width: 100%;
    height: 700px;
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}

.card_item {
    padding-top: 115px !important;
}

.bk {
    color: #353535;
}

.section_tit>p {
    color: #6E6E73;
    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.card_slide {
    padding: 30px 0;
}

/* box-shadow apple 참고 */
.card_wrap {
    width: 400px !important;
    height: 500px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.card_wrap:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 20%);
    transform: scale3d(1.01, 1.01, 1.01);
}

.card_text {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: #353535;
    padding: 10px 0 5px 0;
    line-height: 34px;
}

.card_text.tb>.card_tit,
.card_text.tb>.toptext,
.card_text.tb>.price,
.card_text.tb>.card_btn>a,
.card_text.tb>.card_btn>.arrow {
    color: #fff;
}

.card_text .toptext {
    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0;
}

.card_text .price {
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: #1d1d1f;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.card_btn {
    display: flex;
    align-items: center;
}

.card_btn>a {
    color: #262626;
}

.card_btn .arrow {
    font-size: 18px;
    line-height: 17px;
    display: block;
    width: 20px;
    height: 20px;
    color: #262626;
}

.card_wrap:nth-child(1) {
    background: url(../imges/card_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_wrap:nth-child(2) {
    background: url(../imges/card_02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_wrap:nth-child(3) {
    background: url(../imges/card_03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_wrap:nth-child(4) {
    background: url(../imges/card_04.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Financial_wrap {
    display: flex;
    padding: 30px 0;
}

.left_box {
    width: 60%;
    background: url(../imges/Service_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    position: relative;
}

.left_box .bg,
.rigth_box .bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: block;
}

.rigth_box {
    width: 40%;
}

.rigth_box ul li {
    height: 240px;
    border-radius: 20px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    position: relative;
}

.rigth_box_text_box {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.rigth_box ul li:hover,
.left_box:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 25%);
    transform: scale3d(1.01, 1.01, 1.01);
}

.rigth_box ul li:nth-child(1) {
    background: url(../imges/Service_02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.rigth_box ul li:nth-child(2) {
    background: url(../imges/Service_03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Financial_text_box {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.Financial_tit,
.rigth_box_tit {
    font-size: 24px;
    font-family: "Roboto", 'Noto Sans', 'sans-serif';
    padding-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #fff;
    letter-spacing: -0.5px;
}

.rigth_box_tit {
    padding-bottom: 5px;
}

.Financial_toptext,
.rigth_box_toptext {
    font-family: 'Noto Sans', 'sans-serif';
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
}

.exterior_item .slide_wrap,
.custom_item .slide_wrap{
    padding: 30px 0;
}

.custom_wrap,.exterior_wrap{
    border-radius: 20px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    position: relative;
    padding: 20px;
}
.custom_wrap:hover,.exterior_wrap:hover{
    box-shadow: 2px 4px 16px rgb(0 0 0 / 50%);
    transform: scale3d(1.01, 1.01, 1.01);
}
.exterior_wrap {
    width: 400px !important;
    height: 320px;
}

.exterior_wrap:nth-child(1) {
    background: url(../imges/exterior_01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exterior_wrap:nth-child(2) {
    background: url(../imges/exterior_02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exterior_wrap:nth-child(3) {
    background: url(../imges/exterior_03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exterior_wrap:nth-child(4) {
    background: url(../imges/exterior_04.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.exterior_text{
    position: absolute;
    bottom: 10%;
    color: #fff;
    letter-spacing: -0.25px;
    white-space: normal;
    line-height: 1.2;
}
.exterior_toptext{
    padding: 10px 0;
    font-size: 18px;
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 700;
}
.exterior_tit{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Noto Sans', 'sans-serif';
}
.custom_wrap{
    width: 530px !important;
    height: 480px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
}
.custom_text{
    color: #fff;
    position: absolute;
    bottom: 12%;
    height: 60px;
}
.custom_toptext{
    font-size: 24px;
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 700;
    margin-bottom: 10px;
}
.custom_tit{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Noto Sans', 'sans-serif';
    line-height: 22px;
}
.custom_wrap:nth-child(1){
    background: url(../imges/custom_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.custom_wrap:nth-child(2){
    background: url(../imges/custom_02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.custom_wrap:nth-child(3){
    background: url(../imges/custom_03.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.as_tiem{
    padding-bottom: 50px !important;
}
.as_wrap ul{
    display: flex;
    padding: 20px 0;
}
.as_wrap ul li{
    width: 50%;
    height: 600px;
    border-radius: 20px;
    position: relative;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    color: #fff;
}
.as_wrap ul li:hover{
    box-shadow: 2px 4px 16px rgb(0 0 0 / 50%);
    transform: scale3d(1.01, 1.01, 1.01);
}
.as_text{
    position: absolute;
    left: 5%;
    bottom: 20%;
    height: 60px;
}
.as_toptext{
    font-size: 24px;
    font-family: 'Noto Sans', 'sans-serif';
    font-weight: 700;
    margin-bottom: 14px;
}
.as_tit{
    font-size: 16px;
    font-family: 'Noto Sans', 'sans-serif';
    line-height: 24px;
}
.as_wrap ul li:nth-child(1){
    background: url(../imges/as_01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.as_wrap ul li:nth-child(2){
    background: url(../imges/as_02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {
    main{
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .copy_ligth ul{
        display: none;
    }
}